$control-height: 2.5rem;

.container {
    padding: 1rem; 
  
    @include md {
        width: 80%;
        margin: 0 auto;
        padding: 2rem 1rem;
    }

    @include xl {
        width: 100%;
        height: 100%; 
        position: fixed;       
        padding: 0;   
        background-color: map-get($colors, dark-grey);
    }
}

.header {
    width: 100%;   
    margin: 0 auto;
    text-align: center;
    color:  map-get($colors, 'dark-pink');
    background-color: white;    

    @include xl {
        height: 10rem;
        padding-top: 1rem;
    }

    // scss displayed when the user is required to enter an email
    .email-controls {
        width: 100%;        
        @include md {
            display: flex;
            justify-content: space-around;         
            gap: 1rem;      
            margin: 0 auto;
        }    
        
        @include xl {
            width: 50rem;
        }
    }

    .email-input {
        height: $control-height;
        width: 100%;       
        padding-left: 1rem;
        border-radius: 0.25rem;
        border: none;
        outline: 1px solid map-get($colors, 'mid-pink');
  
        display: block;
        margin: 1rem auto 0;

        @include md {
            margin-top: 0.75rem;
        }

        @include xl {
           flex: 1
        }

        &:focus {
            outline: 2px solid map-get($colors, 'mid-pink');
        }
    }

    .add-another-email-btn {
        @include btn;
        @include primary-btn; 
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;

        @include md {
            width: 8rem;
            margin-top: 1.15rem;
        }
    }

    .add-email-btn {
        @include btn;
        @include primary-btn; 

        margin-top: 0.75rem;    
        width: 100%;  

        @include md {
            width: 10rem;
        }

        @include xl {
          width: 12rem;
        }   

    }  

    // scss to display an email that has been selected
    .current-email {
        display: none;
        margin-top: 0.75rem;            
    } 

    .email-hdr-colon {
        display: none;
        @include sm {
            display: inline;
        }
    }

    .current-email-content {
        display: inline-block;

        .current-selected-email {
            font-size: 1rem;
            width: 30rem;
            overflow: hidden;

            &::before {
                content: "\A";
                white-space: pre; 
            }

            &::before {
                @include sm {
                    content: "";
                    white-space: normal;
                }
            }


            @include md {
                font-size: 1.1rem;
                width: auto;
            }

            @include lg {
                font-size: 1.25rem;
                width: auto;
            }
        }
    }
}

.email-error-message {
    padding-top: 0.25rem;
    color: map-get($colors, 'red');
 }  

 .change-email-controls {

    @include md {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
 }

 .user-collections {
    display: none; 

    margin-top: 0.5rem;             
    height: $control-height;   
    border-radius: 0.25rem;
    color: map-get($colors, 'dark-pink');
    background-color: white;      
    font-weight: 600;      
   
    @include md {
        width: 16rem;
    }
}
 /******************************************************************/
 /* main div containing random photo area and the photo collection */
 /* random photo and selection area                                */
 /******************************************************************/

// media query to set up 2 column flex one side for the random photo
// the other for the photo collection.  this format is for xl screens 
// only
@include xl {
    .main {      
        display: flex;
        padding: 0.5rem; 
        gap: 2rem;
        padding: 5rem 10rem;
        background-color: map-get($colors, dark-grey);
    }

    .random-photo-frame-outer, .photo-collection-frame-outer {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;  
      
    }

    .photo-collection-frame-outer {
        align-items: flex-start;
    }

    .random-photo-frame-outer {
        width: 40%; 
    }
    
    .photo-collection-frame-outer {
        width: 60%;      
    }
    
}

 .main .random-photo-frame {
    width: 100%;
     
    margin: 0 auto;
 
    .random-photo {
        max-width: 100%;
        height: auto;
        margin: 1rem auto;
        display: block;
        overflow: hidden;

        @include lg {
            max-width: 90%;      
        }

        @include xl {
            max-width: 80%;
        }
    }
 } 

 .random-photo-frame .btn-group {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.75rem;

    @include md {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-top: 1.25rem;
    }
 }

 .random-photo-frame .add-photo-btn {
    @include btn;
    @include primary-btn;
   
 }

 .random-photo-frame .get-new-photo-btn {
    @include btn;
    @include accent-btn;
    margin-top: 1rem;   
    @include md {
        margin-top: 0;
    }  
 }


 .random-photo-frame .add-photo-btn,
 .random-photo-frame .get-new-photo-btn {
    @include xl {
        width: 8rem;        
    }
    @include xxl {
        width: 12.5rem;
    } 
 }


 .separator {
    margin-top: 2rem;
    margin-bottom: 3rem;
    height: 0.1rem;
    background-color: map-get($colors, 'dark-grey');

    @include md {
          margin-top: 2rem;
    }

    @include xl {
        display: none;
    }
 } 

/****************************************************************/
/*  selected photos area                                        */
/****************************************************************/

.main .photo-collection { 
    width: 100%;     
    margin: 0 auto;    
 }  

 .photo-collection .heading {
    width: 100%;
   
    font-size: 1.1rem;
    color: map-get($colors, 'dark-pink');
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex; 
  
    .init-message-xl-screens {
        display: none;

        @include xl {
            display: block;
        }
    } 
 }

 .photo-collection .heading .dynamic-message {
    margin-left: 0;
    padding: 0 1rem;
  
    @include md {
        margin: 0 auto;      
    }

    @include xl {
        padding-top: 1rem;
        padding-bottom: 0.75rem;
    }
 }

 .selected-photos-wrapper {
    @include xl {       
        height: 28rem;
        overflow: auto;
    } 
 }

 //set up flex container for md, lg and xl screens for the photo collection
 .photo-collection .selected-photos {
    margin: 0 auto;
    padding-bottom: 1rem;
  
    @include md {  
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        gap: 1rem;
        height: auto;            
    } 

 }

//flex item for the above flex container
 .photo-collection .selected-photos .photo-box {
    margin-top: 1rem;
  
    @include md {
       width: 40%;       
    }

    @include xl {
        margin-top: 0;
        width: 22%; 
    }
 }

  .photo-collection .photo-box-img {
    width: 100%;
    max-height: auto;
    margin: 0 auto;
    display: block;

    @include md {
        width: 80%;
    }

    @include lg {
        width: 100%;
    }    
 } 

 .select2-selection {
    border: 0.15rem solid map-get($colors, 'dark-pink') !important;   
    padding-top: 0.3rem; 
    font-size: 0.85rem;
    color: map-get($colors, 'dark-pink') !important;

    &:hover  {
        border: 0.2rem solid map-get($colors, 'dark-pink') !important;
        outline: none;
    }   
}

.select2-selection {
    min-width: 100% !important;
    height: 2.5rem !important;   
    padding-left: 1rem;
}

.select2-selection__arrow {        
    height: 2.5rem !important;     
    padding-right: 2rem;   
    color:  #9D3256 !important;   
}   

.select2-results {
    font-size: 0.75rem;
    width: auto;
    text-align: center;
}

.select2-results__option--highlighted {  
    background-color:  #9D3256 !important; 
    color: white;
}

.select2-results__option--selected {  
    background-color:  lighten(#9d3256, 50%) !important;    
}

 