$control-height: 2.5rem;

@mixin btn {
    height: 2.5rem;
    border: none;
    border-radius: 0.25rem;
    width: 100%;
    font-weight: 700;    
    
    @include md {
        width: 12.5rem;
     
    }
}

@mixin primary-btn {
    background-color: map-get($colors, 'dark-pink');
    color: white;
}

@mixin primary-btn-outline {
    background-color: white;
    border: 0.1rem solid map-get($colors, 'dark-pink');
    color: map-get($colors, 'dark-pink');
}

@mixin accent-btn {
    background-color: map-get($colors, 'blue');
    color: white;
}

@mixin accent-btn-outline {
    background-color: white;
    border: 0.1rem solid map-get($colors, 'blue');
    color: map-get($colors, 'blue');
}

@mixin secondary-btn {
    background-color: map-get($colors, 'dark-grey');
    color: white;
}

.container {
    padding: 1rem;
   

    @include md {
        width: 80%;
        margin: 0 auto;
        padding: 2rem 1rem;
    }

    @include xl {
        width: 100%;
        padding: 0;        
    }
}


.header {
    width: 100%;
   
    margin: 0 auto;
    text-align: center;
    color:  map-get($colors, 'dark-pink');

    @include xl {
        height: 10rem;
        padding-top: 1rem;
    }

    // scss displayed when the user is required to enter an email
    .email-controls {
        width: 100%;       
      //  background-color: orange;
        @include md {
            display: flex;
            justify-content: space-around;
         
            gap: 1rem;
       //     width: 80%;
            margin: 0 auto;
        }    
        
        @include xl {
            width: 50rem;
        }
    }

    .email-input {
        height: $control-height;
        width: 100%;       
        padding-left: 1rem;
        border-radius: 0.25rem;
        border: none;
        outline: 1px solid map-get($colors, 'mid-pink');
        display: block;
        margin: 1rem auto 0;

        @include md {
            margin-top: 0.75rem;
        }

        @include xl {
           flex: 1
        }

        &:focus {
            border: 1px solid map-get($colors, 'dark=pink');
        }
    }

    .change-email-btn {
        @include btn;
        @include primary-btn; 
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;

        @include md {
            width: 8rem;
        }

    }

    .add-email-btn {
        @include btn;
        @include primary-btn; 

        margin-top: 0.75rem;    
        width: 100%;  

        @include md {
            width: 10rem;
        }
        
        @include lg {
            margin-top: 1rem;
        }

        @include xl {
          width: 12rem;
        }
        
    }

  

    // scss to display an email that has been selected
    .current-email {
        display: none;
        margin-top: 0.75rem;
    }

    .current-email-content {
        display: inline-block;
    }
}


.email-error-message {
    padding-top: 0.25rem;
    color: red;
 } 

 
 
 /*************************************************************/
 /* main div holds random photo area and the photo collection */
 /* random photo and selection area                           */
 /*************************************************************/

// media query to set up 2 column flex one side for the random photo
// the other for the photo collection.  this format is for xl screens 
// only

@include xl {
    .main {
        display: flex;
        padding: 0.5rem;
        height: calc(100vh - 10rem);
        gap: 2rem;
        padding: 5rem 10rem;
        background-color: map-get($colors, dark-grey)
    }

    .random-photo-frame-outer, .photo-collection-frame-outer {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
      
    }

    .random-photo-frame-outer {
        width: 40%;
 
    }
    
    .photo-collection-frame-outer {
        width: 60%;      
    }
    
}

 .main .random-photo-frame {
    width: 100%;

  //  width: 80%;     
    margin: 0 auto;
    

    // @include xl {

    //     width: 40rem;;
    // }

 
    .random-photo {
        max-width: 100%;
        height: auto;
        margin: 1rem auto;
        display: block;

        @include lg {
            max-width: 100%;
            width: 100%;
        }

        @include xl {
            max-width: 80%;
        }
    }
 } 

 .random-photo-frame .btn-group {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.75rem;

    @include md {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-top: 1.25rem;
    }
 }

 .random-photo-frame .add-photo-btn {
    @include btn;
    @include primary-btn;
   
 }

 .random-photo-frame .get-new-photo-btn {
    @include btn;
    @include accent-btn;
    margin-top: 1rem;   
    @include md {
        margin-top: 0;
    }  
 }

 .separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 0.1rem;
    background-color: map-get($colors, 'dark-grey');

    @include md {
          margin-top: 2rem;
    }

    @include xl {
        display: none;
    }
 } 

/****************************************************************/
/*  selected photos area                                        */
/****************************************************************/


.main .photo-collection {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 100%;     
    margin: 0 auto;
    
   // overflow: auto;   
  //  background-color: lightyellow;
    margin-top: -2rem;

    
    
 }

  

 .photo-collection .heading {
    width: 100%;
    font-size: 1.1rem;
    color: map-get($colors, 'dark-pink');
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex;
    justify-content: center;
  //  background-color: lightgreen;

    .init-message-xl-screens {
        display: none;

        @include xl {
            display: block;
        }
    }

    @include md {
        width: 80%;       
    }    
 }

 //set up flex container for md, lg and xl screens for the photo collection
 .photo-collection .selected-photos {
    margin: 0 auto;
  
    @include md {  
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        height: 20rem;
        overflow-y: auto;      
    }
 }

//flex item for the above flex container
 .photo-collection .selected-photos .photo-box {
    margin-top: 1rem;

    @include md {
       width: 40%;       
    }

    @include xl {
        flex-basis: 22%;
    }
 }

  .photo-collection .photo-box-img {
    width: 100%;
    max-height: auto;
    margin: 0 auto;
    display: block;

    @include md {
        width: 80%;
    }

    @include lg {
        width: 100%;
    }
 }

 
 


// .main {
//     margin-top: 2rem;
//  //   margin-left: 10rem;
//     display: flex;
//     gap: 2rem;

//     .random-photo-frame, .photo-collection {
//         width: 40%;
//         min-height: 40rem;
//         border: 0.25rem solid purple;
//     }

//  }

//  .main .random-photo-frame {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;


//     .random-photo {
//         max-width: 40rem;
//         height: auto;
//     }

//     .btn-group {
//         display: flex;
//         gap: 2rem;
//         height: 5rem;
//         padding: 4rem 0 2rem 0;
//     }
    
//  }

//  .random-photo-frame .btn-group {
//     .add-photo-btn, .get-new-photo-btn {
//         height: 2.5rem;
//         width: 10rem;        
//     }
//  }

//  .photo-collection .photo-box-img {
//     max-width: 15rem;
//     max-height: auto;
//  }



 
 